button {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.App {
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-rows: 100vh;
  color: white;
}

.App *:not(option, input, select) {
  color: white;
}

.App > * {
  width: 350px;
  height: 100vh;
  overflow-y: scroll;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1.pokelist-title{
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgb(255,255,127)
}

.filter-container{
  display: grid;
  grid-template-columns: 1fr 18fr 1fr;
}
.filter-container > * {
  grid-column: 2;
}

.two-columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px;
  grid-gap: 5px;
  align-items: center;
}

.name-select, .name-select:focus{
  background-color: black;
  color: white;
}

.two-columns > * {
  margin: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
